html {
    scroll-behavior: smooth;
}

::selection {
    background: none;
    color: #ffffff;
}

body {
    background-color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#f7931a;
}

.menu {
    top: 0;
    margin-top: 40px;
    margin-left: 31%;
    position: fixed;
    scale: 2;
    cursor: default;
    z-index: 2;
}

.menu-button {
    cursor: pointer;
    border-style: none;
    margin-right: 5px;
    background-color:#fd6f01;
    color:#ffffff;
    text-shadow: 2px 2px 4px black;
    border-radius: 999px;
    padding: 7px 14px;
    box-shadow: 0 4px 15px rgba(247,147,26,.25);
    transition: all .2s;
}

.menu-button:hover {
    transform: translateY(-2px);
}

.disclaimer {
    background-color: red;
}

h1 {
    padding-top: 120px;
    color: #ffffff;
}

.text {
    max-width: 95ch;
    margin: 0 auto;
    line-height: 2;
}

.link-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    scale: 0.2;
}

.link-icon {
    transition: 0.25s;
}

.link-icon:hover {
    scale: 1.1;
    transition: 0.25s;
}

.ex {
    margin-top: -330px;
    margin-bottom: -290px;
}

.exn {
    margin-top: -330px;
    margin-bottom: -220px;
}

.hw {
    margin-top: -330px;
    margin-bottom: -200px;
}

.links {
    margin-top: -175px;
    margin-bottom: -200px;
}

.donate {
    scale: 0.3;
    margin-top: -180px;
    margin-bottom: -190px;
    cursor: pointer;
}

.tutorial {
    margin-top: -615px;
    margin-bottom: 50px;
    margin-left: -492px;
}

.identifier {
    font-size: 7rem;
}

.image {
    scroll-margin-top: 120px;
    scale: 0.7;
    border-radius: 45px;
}