/* Desktop */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

::selection {
    background-color: #fd6f01;
    color: #ffffff;
}

body {
    background-color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
}

.menu {
    top: 22px;
    position: fixed;
    cursor: default;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.menu-button {
    cursor: pointer;
    border-style: none;
    margin-right: 5px;
    background-color:#fd6f01;
    color:#ffffff;
    text-shadow: 2px 2px 4px black;
    border-radius: 999px;
    padding: 7px 14px;
    transition: all .2s;
    font-size: 28px;
    padding: 14px 28px;
}

.menu-button:hover {
    transform: translateY(-2px);
}

.disclaimer {
    background-color: red;
}

.guide-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin: 200px auto;
}

.guide-image {
    border-radius: 30px;
    width: min(90vw, 1200px);
    height: auto;
    display: block;
}

#btc {
    margin-top: 120px;
}

.link-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 300px;
    margin: 0;
}

.link-tab a {
    display: flex;
    padding: 0;
    margin: 0;
    line-height: 0;
}

.link-icon {
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: block;
    cursor: pointer;
    transition: transform 0.25s;
}

.link-icon:hover {
    transform: scale(1.1);
}

p {
    max-width: 66%;
}

.source {
    text-decoration: none;
    color: #fd6f01;
}

.source:visited {
    text-decoration: none;
    color: #ffffff;
}

/* Mobile */
@media (max-width: 768px) {
    body {
        padding-top: 90px;
    }

    html {
        scroll-padding-top: 140px;
    }

    .menu {
        justify-content: center;
        align-content: center;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        gap: 6px;
        padding: 0 5px;
    }

    .menu-button {
        font-size: 14px;
        padding: 7px 12px;
        box-shadow: 0 2px 8px rgba(247,147,26,.25);
    }

    p {
        max-width: 66%;
    }

    .guide-image {
        width: 95vw;
        border-radius: 20px;
    }

    .link-tab {
        gap: 15px;
    }

    .link-icon {
        width: 60px;
        height: 60px;
    }

    .guide-section {
        margin: 20px auto 40px auto;
    }
}